/* mobile device */
@media screen and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
  .section-title {
    font-size: 1.6rem;
  }
  .primary-btn {
    padding: 16px 40px;
    font-size: 0.9rem;
  }
  .browse-cards {
    flex-direction: column;
  }
  .nav-links,
  .header-icons {
    display: none;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header > nav > .logo {
    gap: 4px;
  }
  .hamburger {
    display: block;
    font-size: 1.45rem;
  }
  .logo > img {
    width: 35px;
    height: 24px;
  }
  .logo > h3 {
    font-size: 1.8rem;
  }

  .banner {
    background-size: 100% 100%;
    min-height: 550px;
    padding-right: 0;
    justify-content: center;
    padding: 0 16px;
  }
  .banner > div {
    padding: 20px 20px;
  }
  .banner > div > strong {
    font-size: 0.7rem;
    margin-bottom: 2px;
  }
  .banner > div > h1 {
    font-size: 2.2rem;
    line-height: 42px;
    margin-bottom: 12px;
  }
  .banner > div > p {
    max-width: 500px;
    font-size: 0.875rem;
    margin-bottom: 20px;
  }

  .browse > p {
    font-size: 0.875rem;
  }

  .browse-card > img {
    width: 100%;
    margin-bottom: 15px;
  }
  .browse-card > h5 {
    font-size: 1.1rem;
  }
}

/* tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
  .browse-cards {
    flex-wrap: wrap;
  }
  .section-title {
    font-size: 1.7rem;
  }
  .nav-links,
  .header-icons {
    display: none;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .hamburger {
    display: block;
    font-size: 1.5rem;
  }

  .banner {
    background-size: 100% 100%;
    min-height: 550px;
    padding-right: 0;
    justify-content: right;
    padding: 0 24px;
  }

  .browse-card > img {
    margin-bottom: 20px;
  }
  .browse-card > h5 {
    font-size: 1.3rem;
  }
}
