/* mobile device */
@media screen and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
  main > section{
    margin-top: 35px !important;
}
  .section-title {
    font-size: 1.6rem;
  }
  .primary-btn {
    padding: 16px 40px;
    font-size: 0.9rem;
  }
  .browse-cards {
    flex-direction: column;
  }
  .nav-links,
  .header-icons {
    display: none;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header > nav > .logo {
    gap: 4px;
  }
  .hamburger {
    display: block;
    font-size: 1.45rem;
  }
  .logo > img {
    width: 35px;
    height: 24px;
  }
  .logo > h3 {
    font-size: 1.8rem;
  }

  .banner {
    background-size: 100% 100%;
    min-height: 550px;
    padding-right: 0;
    justify-content: center;
    padding: 0 16px;
  }
  .banner > div {
    padding: 20px 20px;
  }
  .banner > div > strong {
    font-size: 0.7rem;
    margin-bottom: 2px;
  }
  .banner > div > h1 {
    font-size: 2.2rem;
    line-height: 42px;
    margin-bottom: 12px;
  }
  .banner > div > p {
    max-width: 500px;
    font-size: 0.875rem;
    margin-bottom: 20px;
  }

  .browse > p {
    font-size: 0.875rem;
  }

  .browse-card > img {
    width: 100%;
    margin-bottom: 15px;
  }
  .browse-card > h5 {
    font-size: 1.1rem;
  }

  .product .section-title{
    margin-bottom: 24px;
}
  .product-cards{
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
.product-card{
    width: 100%;
}
.product-info{
    padding: 16px;
}
.product-info > h4{
    font-size: 1.2rem;
    margin-bottom: 6px;
}
.product-info > p{
    font-size: .8rem;
    margin-bottom: 6px;
}
.product-info > strong{
    font-size: 1.1rem;
}
.rp{
    font-size: .9rem;
}
.product > button{
    padding: 12px 45px;
}
}

/* tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
  main > section{
    margin-top: 45px !important;
}
  .browse-cards {
    flex-wrap: wrap;
  }
  .section-title {
    font-size: 1.7rem;
  }
  .nav-links,
  .header-icons {
    display: none;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .hamburger {
    display: block;
    font-size: 1.5rem;
  }

  .banner {
    background-size: 100% 100%;
    min-height: 550px;
    padding-right: 0;
    justify-content: right;
    padding: 0 24px;
  }

  .browse-card > img {
    margin-bottom: 20px;
  }
  .browse-card > h5 {
    font-size: 1.3rem;
  }
  .product-cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
}
