/* mobile device */
@media screen and (max-width: 576px) {
  .nav-links,
  .header-icons {
    display: none;
  }
  header > nav > .logo{
    gap: 4px;
}
  .hamburger {
    display: block;
    font-size: 1.45rem;
  }
  .logo > img {
    width: 35px;
    height: 24px;
  }
  .logo > h3 {
    font-size: 1.8rem;
  }
}

/* tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav-links,
  .header-icons {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 1.5rem;
  }
}
