@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
    font-size: 16px;
}

:root{
    --text-white: white;
    --heading-color: black;
    --banner-info-bg: #FFF3E3;
    --banner-text-main: #333333;
    --primary-btn-bg: #B88E2F;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.primary-btn{
    border: none;
    color: var(--text-white);
    background-color: var(--primary-btn-bg);
    cursor: pointer;
    padding: 25px 70px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* main styles */

/* header section */
header > nav {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header > nav > .logo{
    align-items: center;
    cursor: pointer;
}
.logo > img {
  width: 45px;
  height: 28px;
}
.logo > h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
header > nav > ul{
    gap: 75px;
}
header > nav > ul > li{
    list-style: none;
}
header > nav > ul > li > a{
    text-decoration: none;
    font-weight: 500;
    color: var(--heading-color);
}
.header-icons{
    gap: 40px;
}
.header-icons > img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.hamburger{
    display: none;
}

/* banner section */
.banner{
    background-image: url(../assets/banner.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 616px;
    padding-right: 55px;
    justify-content: end;
    align-items: center;
}
.banner > div{
    background-color: var(--banner-info-bg);
    max-width: 640px;
    max-height: max-content;
    padding: 60px 43px 37px 39px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.banner > div > strong{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--banner-text-main);
    margin-bottom: 4px;
}
.banner > div > h1{
    max-width: 450px;
    font-size: 3.25rem;
    font-size: 700;
    line-height: 65px;
    color: var(--primary-btn-bg);
    margin-bottom: 17px;
}
.banner > div > p{
    max-width: 500px;
    font-size: 1.125rem;
    font-size: 500;
    line-height: 24px;
    color: var(--banner-text-main);
    margin-bottom: 32px;
}