@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
    font-size: 16px;
}

:root{
    --text-white: white;
    --heading-color: black;
    --banner-info-bg: #FFF3E3;
    --product-card-bg: #F4F5F7;
    --inspiration-bg-color: #FCF8F3;
    --banner-text-main: #333333;
    --primary-btn-bg: #B88E2F;
    --badge-bg-color: #E97171;
    --badge-bg-color-2: #2EC1AC;
}

.container {
  max-width: 1280px;
  margin: auto;
}

main > section{
    margin-top: 70px !important;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.section-title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--banner-text-main);
}

.primary-btn{
    border: none;
    color: var(--text-white);
    background-color: var(--primary-btn-bg);
    cursor: pointer;
    padding: 20px 70px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* main styles */

/* header section */
header > nav {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header > nav > .logo{
    align-items: center;
    cursor: pointer;
    gap: 5px;
}
.logo > img {
  width: 45px;
  height: 28px;
}
.logo > h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
header > nav > ul{
    gap: 75px;
}
header > nav > ul > li{
    list-style: none;
}
header > nav > ul > li > a{
    text-decoration: none;
    font-weight: 500;
    color: var(--heading-color);
}
.header-icons{
    gap: 40px;
}
.header-icons > img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.hamburger{
    display: none;
}

/* banner section */
.banner{
    background-image: url(../assets/banner.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 616px;
    padding-right: 55px;
    justify-content: end;
    align-items: center;
}
.banner > div{
    background-color: var(--banner-info-bg);
    max-width: 640px;
    max-height: max-content;
    padding: 60px 43px 37px 39px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.banner > div > strong{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--banner-text-main);
    margin-bottom: 4px;
}
.banner > div > h1{
    max-width: 450px;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 65px;
    color: var(--primary-btn-bg);
    margin-bottom: 17px;
}
.banner > div > p{
    max-width: 500px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
    color: var(--banner-text-main);
    margin-bottom: 32px;
}

/* browse section */
.browse{
    text-align: center;
}
.browse > p{
    font-size: 1.25rem;
    color: #666666;
    margin-top: 5px;
    margin-bottom: 60px;
}
.browse-cards{
    gap: 20px;
    justify-content: center;
}
.browse-card > img{
    cursor: pointer;
    margin-bottom: 25px;
}
.browse-card > h5{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--banner-text-main);
}

/* product section */
.product{
    text-align: center;
}
.product .section-title{
    margin-bottom: 50px;
}
.product-cards{
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    justify-items: center;
    margin-bottom: 32px;
}
.product-card{
    text-align: left;
    background-color: var(--product-card-bg);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}
.product-card > div{
    position: relative;
}
.badge{
    color: var(--text-white);
    background-color: var(--badge-bg-color);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 7%;
    right: 7%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.product-image > img{
    width: 100%;
}
.product-info{
    padding: 16px 20px 30px 16px;
}
.product-info > h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 120%;
    color: #3A3A3A;
    margin-bottom: 8px;
}
.product-info > p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    color: #898989;
    margin-bottom: 8px;
}
.product-info > strong{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
    color: #3A3A3A;
    justify-content: space-between;
    align-items: center;
}
.rp{
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: #B0B0B0;
}
#product-card-4 .badge,
#product-card-6 .badge,
#product-card-8 .badge{
    background-color: var(--badge-bg-color-2);
}
.product > button{
    background-color: transparent;
    color: var(--primary-btn-bg);
    border: 1px solid var(--primary-btn-bg);
    padding: 12px 70px;
    text-transform: capitalize;
}

/* inspiration section */
.inspiration{
    background-color: var(--inspiration-bg-color);
}
.inspiration-container{
    align-items: center;
}
.inspiration-info > .section-title{
    margin-bottom: 8px;
}
.inspiration-info > p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    color: #616161;
    margin-bottom: 25px;
}
.inspiration-info > button{
    padding: 12px 40px;
}
.inspiration-images img{
    vertical-align: middle;
}